* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: aparecer 1s ease;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: .5s;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #93ccc6c7;
}

.titulo{
    text-align: center;
    color: #1a1f1e;
    padding: 2rem;
    font-size: 3rem;
}

/*CONTENEDOR DE CAJA PARA BUSCAR*/

.container{
    width:70%;
    height: 30vh;
    background-color: #e3dfbad2; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*CONTENEDOR 1*/
.container1{
    display: flex;
    justify-content: space-around;
}

label{
    font-size: 1.8rem;
}

select{
    font-size: 1.2rem;
    background-color: #93ccc6c7;
    width: 100%;

}



/*CONTENEDOR 2*/
.conteiner2{
    display: flex;
    justify-content: space-around;
}

.caja_resultados{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 70%;
    background-color: #e3dfbad2;
    padding: 5rem 0 6rem 0;
}

.resultados_titulo{
  font-size: 3rem;
  padding: 3rem;
  color:  black;
}

.resultados_todos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p{
  width: 100%;
  font-size: 2rem;
  border-bottom: 2px solid black;
  text-align: center;
  padding: 3rem 0 3rem 0;
}